p{
    font-family: "Poppins";
    color: hsl(229, 6%, 66%);
}

h2,
h1{
    font-family: "Poppins";
    color:  hsl(234, 12%, 34%);
}

body{
    background-color: hsl(0, 0%, 98%);
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-content{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    max-width: 615px;
    width: 100%;
}

.header-content h1{
    margin: 0;
    padding: 0;
    font-size: 35px;
    text-align: center;
}

.header-content .power{
    margin-bottom: 20px;
}

.header-content .reliable{
    font-weight: 200;
}

.header-content p{
    text-align: center;
    margin: 0;
}

.cards{
    min-width: 0;
    display: grid;
    grid-template-areas:"first second four"
    "first third four";
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1250px;
    align-items: center;
    gap: 25px;
}

.color-cian{
    background-color: hsl(180, 62%, 55%);
    height: 5px;
}
.color-blue{
    background-color: hsl(212, 86%, 64%);
    height: 5px;
}
.color-orange{
    background-color: hsl(34, 97%, 64%);
    height: 5px;
}
.color-red{
    background-color: hsl(0, 78%, 62%);
    height: 5px;
}

.cards .center-cards{
    background-color: white;
    overflow: hidden;
    border: none;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    max-width: 390px;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.description-ext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-cards .description-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-bottom: 20px;
}

.description-block h2{
    margin-top: 25px;
    margin-bottom: 0;
}

.description-block p{
    margin-top: 15px;
}

.content-img{
    text-align: end;
    width: 95%;
    padding-bottom: 10px;
}

#supervisor{
    grid-area: first;
}

#calculator{
    grid-area: four;
}

#team{
    grid-area: second;
}

#karma{
    grid-area: third;
}

@media (max-width: 975px){
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 445px){
    .header-content h1{
        font-size: 7.5vw;
    }
}